.item-section {
  display: flex;
  /* gap: .5rem; */
  flex-direction: column;
}

.items-container {
    display: flex;
    gap: 1rem;
}
.bread-crumb {
    padding: 10px 0px;
    text-align: start;
    color: rgba(255, 255, 255, 0.416);
    font-size: 1rem;
}
