.account-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.account-header {
    font-size: 2rem;
  color: green;
  display: flex;
  gap: 3rem;
  padding-bottom: 2rem;
}

.user {
    font-size: 1.5rem;
}
.pages{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0  10px;
  gap: .3rem;
  
}
.pages :hover {
   
}
